.aside-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background: #3f51b5;
  padding: 20px;
  /* max-width: 400px; */
  /* min-width: 400px; */

  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.aside-tag {
  width: 100%;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}

.aside-container form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.aside-container form input {
  flex: 1;
  border: none;
  background: transparent;
  border-bottom: 1px solid #222c69;
  outline: none;
}

.aside-nav {
  width: 100%;
  display: flex;
}

.aside-nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.aside-nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.aside-nav ul li button {
  border: none;
  background: none;
  padding: 10px 20px;
  align-self: center;
  cursor: pointer;
  color: #ffff;
  font-size: 0.9rem;

  width: 100%;
  text-align: left;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border-bottom: 1px solid #dede;
}
.top,
.bottom,
.left,
.right {
  position: absolute;
  transition: all 2.5s ease;
  background: #222c69;
}

.top,
.bottom {
  width: 0%;
  left: 0;
}
.left,
.right {
  height: 0%;
  top: 0;
}
.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.aside-nav ul li button:hover .left,
.aside-nav ul li button:hover .right {
  width: 1px;
  height: 100%;
}
.aside-nav ul li button:hover .top,
.aside-nav ul li button:hover .bottom {
  width: 100%;
  height: 1px;
}

.aside-nav ul li button:hover .border {
  opacity: 1;
}

.aside-nav ul li button::selection,
.aside-nav ul li button:active,
.aside-nav ul li button:focus,
.aside-nav ul li button:focus-within {
  background: #222c69;
}

.aside-btn {
  width: 100%;
  position: relative;
}

.icon {
  font-size: 1rem;
  color: #11152b;
  font-weight: bold;
  font-family: monospace, cursive, sans-serif;
}
