.user-modal {
  background: #fff;
  border-radius: 5px;
  width: 67%;
  height: 85vh;
  top: 50%;
  transform: translate(-85%, -50%);

  left: 85%;
  /* transform: translateX(-50%); */
  position: fixed;
}
