.more {
  -moz-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  transition: height 0.2s ease;
  -moz-animation: more 0.75s ease-out 3s forwards;
  -webkit-animation: more 0.75s ease-out 3s forwards;
  -ms-animation: more 0.75s ease-out 3s forwards;
  animation: more 0.75s ease-out 3s forwards;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0;
  border-radius: 1em 1em 0 0;
  bottom: -3em;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  height: 3em;
  left: 50%;
  margin-left: -1.5em;
  overflow: hidden;
  text-indent: 3em;
  white-space: nowrap;
  width: 3em;
  z-index: 2;
  border-radius: 100%;
  text-decoration: none;

  position: absolute;
  bottom: 10px;

  cursor: pointer;
}

.more:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.more:hover {
  background: none;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
}
.more:hover:before {
  color: rgba(255, 255, 255, 0.5);
}

.more:before {
  content: "\f107";
  color: #fff;
  font-size: 2em;
  position: absolute;
  right: 0.425em;
  /* bottom: -0.075em; */

  top: calc(100% - 50%);
  transform: translateY(-50%);
}
