@keyframes slider-menu-open {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slider-menu-close {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
}

nav.nav.close {
  animation: 1s ease-in-out slider-menu-close forwards;
}

nav.nav {
  animation: 1s ease-in-out slider-menu-open forwards;
  z-index: 40;
  height: 100vh;
  width: 300px;
  background: #11152b;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: all;

  display: flex;
  flex-direction: column;

  padding: 20px;
}

button.toggle-menu {
  position: fixed;
  top: 10px;
  right: 0;

  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  color: #fff;
  text-align: center;

  cursor: pointer;

  margin: 5px 19px 5px 0;
  border: none;
  z-index: 20;
}

button.toggle-menu::before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

button.toggle-menu:hover {
  color: rgba(255, 255, 255, 0.25);
  background: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

button.toggle-menu-close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #bbbbbb;
  cursor: pointer;
  display: block;
  padding: 0 0.5em;
  text-align: right;

  border: none;
  background: transparent;
  font-size: 18px;

  margin: 5px;

  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  text-align: center;
  border: none;

  height: 40px;
  width: 40px;
  align-self: flex-end;
}

button.toggle-menu-close::before {
  content: "";
  background: transparent;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  border: none;
}

nav.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav.nav > ul > li {
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  font-size: 1rem;
  border-bottom: 1px solid #f64747;
}

nav.nav > ul > li a {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  color: #cec9c9;
}

.icon-menu {
  font-size: 1rem;
  margin: 0 15px 0 0;
}
